/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0a3d62, #3c6382);
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

/* CENTER SECTION */
.booking-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLASS CARD */
.booking-card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  color: white;
  animation: fadeIn 1s ease;
}

/* TITLE */
.booking-card h1 {
  margin-bottom: 20px;
}

/* INPUTS */
.booking-card input,
.booking-card select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

/* BUTTON */
.booking-card button {
  width: 100%;
  padding: 12px;
  background: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.booking-card button:hover {
  background: #ff9f1a;
  transform: scale(1.05);
}

/* SUCCESS MSG */
#successMsg {
  margin-top: 15px;
  font-size: 14px;
  color: #2ecc71;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
}
button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.08);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.3)
  );
  top: 0;
  left: 0;
}
.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  text-decoration: none;
}

.social-icons i {
  font-size: 18px;
  color: white;
  background: rgba(255,255,255,0.15);
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}

/* HOVER COLORS */
.social-icons i:hover {
  transform: scale(1.2);
}

/* BRAND COLORS */
.fa-facebook-f:hover {
  background: #1877f2;
}

.fa-instagram:hover {
  background: #e1306c;
}

.fa-twitter:hover {
  background: #1da1f2;
}

.fa-whatsapp:hover {
  background: #25d366;
}
